.44_482 { 
	overflow:hidden;
}
.e44_482 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:4096px;
	position:absolute;
}
.e44_483 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:5px;
}
.e44_484 { 
	width:312px;
	height:87px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/screenshot_2024_02_25_120035_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_485 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:339px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_486 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:498px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_487 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:657px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_488 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:29px;
	position:absolute;
	left:673px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_489 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:975px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_490 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:816px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_491 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1134px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_492 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:369px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_493 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:29px;
	position:absolute;
	left:522px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_494 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:29px;
	position:absolute;
	left:848px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_495 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:29px;
	position:absolute;
	left:1177px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_496 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:29px;
	position:absolute;
	left:1016px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_497 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1293px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_498 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:29px;
	position:absolute;
	left:1301px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_499 { 
	width:1510px;
	height:1029px;
	position:absolute;
	left:1px;
	top:2227px;
	background-image:url(images/colours_solar_system_planets_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_500 { 
	color:rgba(255, 255, 255, 1);
	width:1239px;
	height:104px;
	position:absolute;
	left:103px;
	top:2544px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e44_501 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:132px;
	position:absolute;
	left:261px;
	top:2707px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_502 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.30000001192092896);
	width:257px;
	height:89px;
	position:absolute;
	left:594px;
	top:2898px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_503 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:39px;
	position:absolute;
	left:615px;
	top:2923px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_504 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:836px;
	position:absolute;
	left:0px;
	top:3260px;
}
.e44_505 { 
	width:611px;
	height:160px;
	position:absolute;
	left:414px;
	top:3296px;
	background-image:url(images/screenshot_2024_02_25_120035_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_506 { 
	color:rgba(0, 0, 0, 1);
	width:731px;
	height:78px;
	position:absolute;
	left:353px;
	top:3505px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_507 { 
	width:152px;
	height:132px;
	position:absolute;
	left:484px;
	top:3627px;
	background-image:url(images/sm_5afaf0c36298b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_508 { 
	width:261px;
	height:115px;
	position:absolute;
	left:738px;
	top:3632px;
	background-image:url(images/6ddoc8gv9fyupexglypqqt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_509 { 
	width:127px;
	height:127px;
	position:absolute;
	left:655px;
	top:3627px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_510 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.30000001192092896);
	width:286px;
	height:93px;
	position:absolute;
	left:575px;
	top:3803px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_511 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:616px;
	top:3830px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_512 { 
	width:1510px;
	height:1123px;
	position:absolute;
	left:0px;
	top:97px;
	background-image:url(images/famous_astronomers_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_513 { 
	color:rgba(255, 255, 255, 1);
	width:383px;
	height:116px;
	position:absolute;
	left:656px;
	top:408px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e44_514 { 
	color:rgba(255, 255, 255, 1);
	width:644px;
	height:343px;
	position:absolute;
	left:615px;
	top:604px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_515 { 
	width:1510px;
	height:1002px;
	position:absolute;
	left:3px;
	top:1166px;
	background-image:url(images/istockphoto_536507269_612x612_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_516 { 
	color:rgba(255, 255, 255, 1);
	width:380px;
	height:77px;
	position:absolute;
	left:533px;
	top:1261px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e44_517 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:29px;
	position:absolute;
	left:345px;
	top:1383px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_518 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:1412px;
	::placeholder
	color:rgba(0, 0, 0, 0.5);
	position:absolute;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_520 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:29px;
	position:absolute;
	left:345px;
	top:1483px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_521 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:1512px;
	::placeholder
	color:rgba(0, 0, 0, 0.5);
		position:absolute;
			font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_523 { 
	color:rgba(255, 255, 255, 1);
	width:203px;
	height:29px;
	position:absolute;
	left:345px;
	top:1583px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_524 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:1612px;
	::-ms-value
	color:rgba(0, 0, 0, 0.5);
	position:absolute;
		font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_526 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:29px;
	position:absolute;
	left:345px;
	top:1683px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_527 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:1712px;
	::placeholder
	color:rgba(0, 0, 0, 0.5);
		position:absolute;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_529 { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:29px;
	position:absolute;
	left:345px;
	top:1783px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_530 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:1812px;
	::placeholder
	color:rgba(0, 0, 0, 0.5);
		position:absolute;
		font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_532 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:29px;
	position:absolute;
	left:345px;
	top:1883px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_533 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:1912px;
	::placeholder
	color:rgba(0, 0, 0, 0.5);
	position:absolute;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_535 { 
	color:rgba(255, 255, 255, 1);
	width:226px;
	height:29px;
	position:absolute;
	left:345px;
	top:1983px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_536 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.6000000238418579);
	width:756px;
	height:57px;
	position:absolute;
	left:342px;
	top:2012px;
	::placeholder
	color:rgba(0, 0, 0, 0.5);
	position:absolute;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_538 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.20000000298023224);
	width:756px;
	height:58px;
	position:absolute;
	left:342px;
	top:2097px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_539 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.8999999761581421;
	width:120px;
	height:39px;
	position:absolute;
	left:663px;
	top:2106px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e44_540 { 
	background-color:rgba(0, 0, 0, 0.5);
	width:25px;
	height:25px;
	position:absolute;
	left:1042px;
	top:1653px;
}
