.44_366 { 
	overflow:hidden;
}
.e44_366 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:4096px;
	position:absolute;
}
.e44_367 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:5px;
}
.e44_368 { 
	width:312px;
	height:87px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/screenshot_2024_02_25_120035_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_369 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:339px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_370 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:498px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_371 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:657px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_372 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:29px;
	position:absolute;
	left:673px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_373 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:975px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_374 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:816px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_375 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1134px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_376 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:369px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_377 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:29px;
	position:absolute;
	left:522px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_378 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:29px;
	position:absolute;
	left:848px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_379 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:29px;
	position:absolute;
	left:1177px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_380 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:29px;
	position:absolute;
	left:1016px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_381 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1293px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_382 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:29px;
	position:absolute;
	left:1301px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_383 { 
	width:1510px;
	height:1029px;
	position:absolute;
	left:1px;
	top:2227px;
	background-image:url(images/colours_solar_system_planets_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_384 { 
	color:rgba(255, 255, 255, 1);
	width:1239px;
	height:104px;
	position:absolute;
	left:103px;
	top:2544px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e44_385 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:132px;
	position:absolute;
	left:261px;
	top:2707px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_386 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.30000001192092896);
	width:257px;
	height:89px;
	position:absolute;
	left:594px;
	top:2898px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_387 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:39px;
	position:absolute;
	left:615px;
	top:2923px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_388 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:836px;
	position:absolute;
	left:0px;
	top:3260px;
}
.e44_389 { 
	width:611px;
	height:160px;
	position:absolute;
	left:414px;
	top:3296px;
	background-image:url(images/screenshot_2024_02_25_120035_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_390 { 
	color:rgba(0, 0, 0, 1);
	width:731px;
	height:78px;
	position:absolute;
	left:353px;
	top:3505px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_391 { 
	width:152px;
	height:132px;
	position:absolute;
	left:484px;
	top:3627px;
	background-image:url(images/sm_5afaf0c36298b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_392 { 
	width:261px;
	height:115px;
	position:absolute;
	left:738px;
	top:3632px;
	background-image:url(images/6ddoc8gv9fyupexglypqqt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_393 { 
	width:127px;
	height:127px;
	position:absolute;
	left:655px;
	top:3627px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_394 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.30000001192092896);
	width:286px;
	height:93px;
	position:absolute;
	left:575px;
	top:3803px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_395 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:616px;
	top:3830px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_396 { 
	width:1510px;
	height:1123px;
	position:absolute;
	left:0px;
	top:97px;
	background-image:url(images/famous_astronomers_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_397 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:116px;
	position:absolute;
	left:728px;
	top:394px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e44_398 { 
	color:rgba(255, 255, 255, 1);
	width:644px;
	height:343px;
	position:absolute;
	left:649px;
	top:624px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_399 { 
	width:1510px;
	height:1002px;
	position:absolute;
	left:0px;
	top:1141px;
	background-image:url(images/istockphoto_536507269_612x612_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_400 { 
	width:1080px;
	height:1080px;
	position:absolute;
	left:68px;
	top:1184px;
}
.e44_401 { 
	color:rgba(255, 255, 255, 1);
	width:1034px;
	height:77px;
	position:absolute;
	left:203px;
	top:1203px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e44_402 { 
	color:rgba(255, 255, 255, 1);
	width:808px;
	height:48px;
	position:absolute;
	left:319px;
	top:1308px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e44_403 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:168px;
	top:1613px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e44_404 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.4000000059604645);
	width:1300px;
	height:809px;
	position:absolute;
	left:77px;
	top:1418px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_405 { 
	background-color:rgba(157.66170233488083, 157.66170233488083, 157.66170233488083, 1);
	width:1206px;
	height:71px;
	position:absolute;
	left:117px;
	top:1491px;
}
.e44_406 { 
	background-color:rgba(157.66170233488083, 157.66170233488083, 157.66170233488083, 1);
	width:1206px;
	height:71px;
	position:absolute;
	left:117px;
	top:1613px;
}
.e44_407 { 
	background-color:rgba(157.66170233488083, 157.66170233488083, 157.66170233488083, 1);
	width:1206px;
	height:71px;
	position:absolute;
	left:117px;
	top:1735px;
}
.e44_408 { 
	background-color:rgba(157.66170233488083, 157.66170233488083, 157.66170233488083, 1);
	width:1206px;
	height:71px;
	position:absolute;
	left:117px;
	top:1857px;
}
.e44_409 { 
	background-color:rgba(157.66170233488083, 157.66170233488083, 157.66170233488083, 1);
	width:1206px;
	height:71px;
	position:absolute;
	left:118px;
	top:1979px;
}
.e44_410 { 
	background-color:rgba(157.66170233488083, 157.66170233488083, 157.66170233488083, 1);
	width:1206px;
	height:71px;
	position:absolute;
	left:120px;
	top:2101px;
}
.e44_411 { 
	color:rgba(0, 0, 0, 1);
	width:760px;
	height:39px;
	position:absolute;
	left:141px;
	top:1507px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_412 { 
	color:rgba(0, 0, 0, 1);
	width:556px;
	height:39px;
	position:absolute;
	left:141px;
	top:1629px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_413 { 
	color:rgba(0, 0, 0, 1);
	width:437px;
	height:39px;
	position:absolute;
	left:141px;
	top:1751px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_414 { 
	color:rgba(0, 0, 0, 1);
	width:553px;
	height:39px;
	position:absolute;
	left:141px;
	top:1873px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_415 { 
	color:rgba(0, 0, 0, 1);
	width:777px;
	height:39px;
	position:absolute;
	left:141px;
	top:1995px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_416 { 
	color:rgba(0, 0, 0, 1);
	width:512px;
	height:39px;
	position:absolute;
	left:141px;
	top:2117px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_423 { 
	background-color:rgba(255, 255, 255, 0.4000000059604645);
	width:241px;
	height:57px;
	position:absolute;
	left:1184px;
	top:108px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_424 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:1224px;
	top:122px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
