.44_107 { 
	overflow:hidden;
}
.e44_107 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:4096px;
	position:absolute;
}
.e44_247 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:5px;
}
.e44_248 { 
	width:312px;
	height:87px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/screenshot_2024_02_25_120035_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_249 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:345px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_250 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:504px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_251 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:663px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_252 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:29px;
	position:absolute;
	left:679px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_253 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:981px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_254 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:822px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_255 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1140px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_256 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:375px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_257 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:29px;
	position:absolute;
	left:528px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_258 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:29px;
	position:absolute;
	left:854px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_259 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:29px;
	position:absolute;
	left:1183px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_260 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:29px;
	position:absolute;
	left:1022px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_261 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1299px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_262 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:29px;
	position:absolute;
	left:1307px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_263 { 
	width:1510px;
	height:1029px;
	position:absolute;
	left:7px;
	top:2227px;
	background-image:url(images/colours_solar_system_planets_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_264 { 
	color:rgba(255, 255, 255, 1);
	width:1239px;
	height:104px;
	position:absolute;
	left:109px;
	top:2544px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e44_265 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:132px;
	position:absolute;
	left:267px;
	top:2707px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_266 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.30000001192092896);
	width:257px;
	height:89px;
	position:absolute;
	left:600px;
	top:2898px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_267 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:39px;
	position:absolute;
	left:621px;
	top:2923px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_268 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:836px;
	position:absolute;
	left:6px;
	top:3260px;
}
.e44_269 { 
	width:611px;
	height:160px;
	position:absolute;
	left:420px;
	top:3296px;
	background-image:url(images/screenshot_2024_02_25_120035_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_270 { 
	color:rgba(0, 0, 0, 1);
	width:731px;
	height:78px;
	position:absolute;
	left:359px;
	top:3505px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_271 { 
	width:152px;
	height:132px;
	position:absolute;
	left:490px;
	top:3627px;
	background-image:url(images/sm_5afaf0c36298b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_272 { 
	width:261px;
	height:115px;
	position:absolute;
	left:744px;
	top:3632px;
	background-image:url(images/6ddoc8gv9fyupexglypqqt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_273 { 
	width:127px;
	height:127px;
	position:absolute;
	left:661px;
	top:3627px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_274 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.30000001192092896);
	width:286px;
	height:93px;
	position:absolute;
	left:581px;
	top:3803px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_275 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:622px;
	top:3830px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_276 { 
	width:1510px;
	height:1002px;
	position:absolute;
	left:6px;
	top:1137px;
	background-image:url(images/istockphoto_536507269_612x612_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_277 { 
	width:1080px;
	height:1080px;
	position:absolute;
	left:74px;
	top:1180px;
}
.e44_278 { 
	width:270px;
	height:270px;
	position:absolute;
	left:727px;
	top:1293px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_279 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1092px;
	top:1293px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_280 { 
	width:270px;
	height:270px;
	position:absolute;
	left:727px;
	top:1695px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_281 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1092px;
	top:1695px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_282 { 
	color:rgba(255, 255, 255, 1);
	width:230px;
	height:39px;
	position:absolute;
	left:74px;
	top:1354px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_283 { 
	color:rgba(255, 255, 255, 1);
	width:573px;
	height:260px;
	position:absolute;
	left:41px;
	top:1422px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e44_284 { 
	color:rgba(255, 255, 255, 1);
	width:530px;
	height:218px;
	position:absolute;
	left:41px;
	top:1697px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_285 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:727px;
	top:1603px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_286 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:1083px;
	top:1603px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_287 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:727px;
	top:2005px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_288 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:1092px;
	top:2005px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_289 { 
	color:rgba(255, 255, 255, 1);
	width:242px;
	height:29px;
	position:absolute;
	left:741px;
	top:1623px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_290 { 
	color:rgba(255, 255, 255, 1);
	width:207px;
	height:29px;
	position:absolute;
	left:1114px;
	top:1623px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e44_291 { 
	color:rgba(255, 255, 255, 1);
	width:242px;
	height:27px;
	position:absolute;
	left:742px;
	top:2025px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e44_292 { 
	color:rgba(255, 255, 255, 1);
	width:235px;
	height:27px;
	position:absolute;
	left:1109px;
	top:2026px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e44_293 { 
	width:1510px;
	height:1123px;
	position:absolute;
	left:0px;
	top:97px;
	background-image:url(images/famous_astronomers_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_294 { 
	background-color:rgba(255, 255, 255, 0.4000000059604645);
	width:241px;
	height:57px;
	position:absolute;
	left:1190px;
	top:113px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_295 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:1230px;
	top:127px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_296 { 
	color:rgba(255, 255, 255, 1);
	width:458px;
	height:116px;
	position:absolute;
	left:523px;
	top:351px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e44_297 { 
	color:rgba(255, 255, 255, 1);
	width:644px;
	height:343px;
	position:absolute;
	left:700px;
	top:600px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
