.44_4 { 
	overflow:hidden;
}
.e44_4 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:3072px;
	position:absolute;
}
.e44_73 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:5px;
}
.e44_74 { 
	width:312px;
	height:87px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/screenshot_2024_02_25_120035_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_75 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:345px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_76 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:504px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_77 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:663px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_78 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:29px;
	position:absolute;
	left:679px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_79 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:981px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_80 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:822px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_81 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1140px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_82 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:375px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_83 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:29px;
	position:absolute;
	left:528px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_84 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:29px;
	position:absolute;
	left:854px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_85 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:29px;
	position:absolute;
	left:1183px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_86 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:29px;
	position:absolute;
	left:1022px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_87 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1299px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_88 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:29px;
	position:absolute;
	left:1307px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_89 { 
	width:1510px;
	height:1123px;
	position:absolute;
	left:0px;
	top:97px;
	background-image:url(images/famous_astronomers_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_90 { 
	color:rgba(255, 255, 255, 1);
	width:493px;
	height:116px;
	position:absolute;
	left:433px;
	top:301px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e44_91 { 
	color:rgba(255, 255, 255, 1);
	width:956px;
	height:440px;
	position:absolute;
	left:449px;
	top:524px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_92 { 
	width:1510px;
	height:1029px;
	position:absolute;
	left:7px;
	top:1203px;
	background-image:url(images/colours_solar_system_planets_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_93 { 
	color:rgba(255, 255, 255, 1);
	width:1239px;
	height:104px;
	position:absolute;
	left:109px;
	top:1520px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e44_94 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:132px;
	position:absolute;
	left:267px;
	top:1683px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_95 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.30000001192092896);
	width:257px;
	height:89px;
	position:absolute;
	left:600px;
	top:1874px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_96 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:39px;
	position:absolute;
	left:621px;
	top:1899px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	}
.e44_97 { 
	background-color:rgba(255, 255, 255, 0.4000000059604645);
	width:241px;
	height:57px;
	position:absolute;
	left:1190px;
	top:104px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_98 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:1230px;
	top:118px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	}
.e44_99 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:836px;
	position:absolute;
	left:6px;
	top:2236px;
}
.e44_100 { 
	width:611px;
	height:160px;
	position:absolute;
	left:420px;
	top:2272px;
	background-image:url(images/screenshot_2024_02_25_120035_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_101 { 
	color:rgba(0, 0, 0, 1);
	width:731px;
	height:78px;
	position:absolute;
	left:359px;
	top:2481px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_102 { 
	width:152px;
	height:132px;
	position:absolute;
	left:490px;
	top:2603px;
	background-image:url(images/sm_5afaf0c36298b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_103 { 
	width:261px;
	height:115px;
	position:absolute;
	left:744px;
	top:2608px;
	background-image:url(images/6ddoc8gv9fyupexglypqqt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_104 { 
	width:127px;
	height:127px;
	position:absolute;
	left:661px;
	top:2603px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_105 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.30000001192092896);
	width:286px;
	height:93px;
	position:absolute;
	left:581px;
	top:2779px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_106 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:622px;
	top:2806px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	}
