.44_196 { 
	overflow:hidden;
}
.e44_196 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:4096px;
	position:absolute;
}
.e44_197 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:97px;
	position:absolute;
	left:0px;
	top:5px;
}
.e44_198 { 
	width:312px;
	height:87px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/screenshot_2024_02_25_120035_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_199 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:339px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_200 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:498px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_201 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:657px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_202 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:29px;
	position:absolute;
	left:673px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_203 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:975px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_204 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:816px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_205 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1134px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_206 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:369px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_207 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:29px;
	position:absolute;
	left:522px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_208 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:29px;
	position:absolute;
	left:848px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_209 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:29px;
	position:absolute;
	left:1177px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_210 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:29px;
	position:absolute;
	left:1016px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_211 { 
	background-color:rgba(0, 0, 0, 1);
	width:132px;
	height:65px;
	position:absolute;
	left:1293px;
	top:16px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_212 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:29px;
	position:absolute;
	left:1301px;
	top:34px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_213 { 
	width:1510px;
	height:1029px;
	position:absolute;
	left:1px;
	top:2227px;
	background-image:url(images/colours_solar_system_planets_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_214 { 
	color:rgba(255, 255, 255, 1);
	width:1239px;
	height:104px;
	position:absolute;
	left:103px;
	top:2544px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e44_215 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:132px;
	position:absolute;
	left:261px;
	top:2707px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_216 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 0.30000001192092896);
	width:257px;
	height:89px;
	position:absolute;
	left:594px;
	top:2898px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_217 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:39px;
	position:absolute;
	left:615px;
	top:2923px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_218 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 1);
	width:1510px;
	height:836px;
	position:absolute;
	left:0px;
	top:3260px;
}
.e44_219 { 
	width:611px;
	height:160px;
	position:absolute;
	left:414px;
	top:3296px;
	background-image:url(images/screenshot_2024_02_25_120035_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_220 { 
	color:rgba(0, 0, 0, 1);
	width:731px;
	height:78px;
	position:absolute;
	left:353px;
	top:3505px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_221 { 
	width:152px;
	height:132px;
	position:absolute;
	left:484px;
	top:3627px;
	background-image:url(images/sm_5afaf0c36298b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_222 { 
	width:261px;
	height:115px;
	position:absolute;
	left:738px;
	top:3632px;
	background-image:url(images/6ddoc8gv9fyupexglypqqt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_223 { 
	width:127px;
	height:127px;
	position:absolute;
	left:655px;
	top:3627px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_224 { 
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.30000001192092896);
	width:286px;
	height:93px;
	position:absolute;
	left:575px;
	top:3803px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e44_225 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:616px;
	top:3830px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e44_226 { 
	width:1510px;
	height:1123px;
	position:absolute;
	left:0px;
	top:97px;
	background-image:url(images/famous_astronomers_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_227 { 
	color:rgba(255, 255, 255, 1);
	width:270px;
	height:116px;
	position:absolute;
	left:585px;
	top:382px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e44_228 { 
	color:rgba(255, 255, 255, 1);
	width:644px;
	height:343px;
	position:absolute;
	left:635px;
	top:580px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e44_229 { 
	width:1510px;
	height:1002px;
	position:absolute;
	left:0px;
	top:1220px;
	background-image:url(images/istockphoto_536507269_612x612_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_230 { 
	width:1080px;
	height:1080px;
	position:absolute;
	left:68px;
	top:1263px;
}
.e44_231 { 
	width:270px;
	height:270px;
	position:absolute;
	left:721px;
	top:1376px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_232 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1086px;
	top:1376px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_233 { 
	width:270px;
	height:270px;
	position:absolute;
	left:721px;
	top:1778px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_234 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1086px;
	top:1778px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_235 { 
	color:rgba(255, 255, 255, 1);
	width:573px;
	height:91px;
	position:absolute;
	left:81px;
	top:1511px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e44_236 { 
	color:rgba(255, 255, 255, 1);
	width:613px;
	height:343px;
	position:absolute;
	left:70px;
	top:1675px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e44_237 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:721px;
	top:1686px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_238 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:1077px;
	top:1686px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_239 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:721px;
	top:2088px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_240 { 
	background-color:rgba(251.00000023841858, 251.00000023841858, 251.00000023841858, 0.30000001192092896);
	width:270px;
	height:69px;
	position:absolute;
	left:1086px;
	top:2088px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_241 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:58px;
	position:absolute;
	left:758px;
	top:1693px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_242 { 
	color:rgba(255, 255, 255, 1);
	width:203px;
	height:58px;
	position:absolute;
	left:1123px;
	top:1693px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e44_243 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:54px;
	position:absolute;
	left:761px;
	top:2096px;
	font-family:Inter;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e44_244 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:54px;
	position:absolute;
	left:1145px;
	top:2091px;
	font-family:Inter;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e44_245 { 
	background-color:rgba(255, 255, 255, 0.4000000059604645);
	width:241px;
	height:57px;
	position:absolute;
	left:1184px;
	top:107px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e44_246 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:29px;
	position:absolute;
	left:1224px;
	top:121px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
